body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff7da;
    width:100%;
}

.menu{
    background-color: #ffd56b;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding-block: 10px 20px;
}


li{
    list-style-type: none;
    justify-content: space-around;
    background-color: #f5e616 ;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;

}

li:first-of-type{
    text-align: center;
    width: 200px;
    
}

h1{
    font-size: large;
    font-weight: bold;
    color:brown;
}

.cards{
    margin-block:50px;
    margin-inline:auto;
    border-radius: 20%;
    display:flex;
    flex-direction: column;
    max-width: 300px;
    border:none;
    background-color: #e9d135;
    

}

.cards .card-content{
    text-align: center;
}

.card-content img{
    object-fit: contain;
}

button{
    background-color: lightyellow;
    border:none;
    border-radius: 20px;
    padding: 5px;
    
}