body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightyellow;
}

.menu{
    background-color: #d1a03fc7;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding-block: 20px;
}

li{
    list-style-type: none;
    background-color: #f5e616 ;
    margin: 5px;
    border-radius: 16px;
    padding: 10px;
    text-align: center;

}

li:first-of-type{
    text-align: left;
   
}

h1{
    font-size: large;
    font-weight: bold;
}

.cards{
    margin-block:50px;
    margin-inline:auto;
    border-radius: 20%;
    display:flex;
    flex-direction: column;
    max-width: 300px;
    border:none;
    background-color: #e9d135;
    

}

.cards .card-content{
    text-align: center;
}

.card-content img{
    object-fit: contain;
    border-radius:;
}

button{
    background-color: lightyellow;
    border:none;
    border-radius: 20px;
    padding: 5px;
    
}